<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748683476655-0bputvp1h2ppvhp8ls33u9e2qo85bre6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748683476655-0bputvp1h2ppvhp8ls33u9e2qo85bre6</string>
	<key>API_KEY</key>
	<string>AIzaSyC8vRb7X9xc0o0UjS9QGot06jh40MBfDcg</string>
	<key>GCM_SENDER_ID</key>
	<string>748683476655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loggerDemo.EventLogger</string>
	<key>PROJECT_ID</key>
	<string>eventlogger-20b3b</string>
	<key>STORAGE_BUCKET</key>
	<string>eventlogger-20b3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748683476655:ios:914838062f4db8adc31e5a</string>
	<key>DATABASE_URL</key>
	<string>https://eventlogger-20b3b.firebaseio.com</string>
</dict>
</plist>